[user]
	name = Nathan Petersen
	email = n8knows@gmail.com

[push]
	default = simple

[include]
	# Allows other configuration to be added that should not be pushed up to git
	path = .gitconfig.local

[init]
	defaultBranch = main
[fetch]
	prune = true

# git-delta
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3
